<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.QuxiaoguanxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Quxiaoguanxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="yonghuming" jdbcType="VARCHAR" property="yonghuming" />    <result column="xingbie" jdbcType="VARCHAR" property="xingbie" />    <result column="dianhua" jdbcType="VARCHAR" property="dianhua" />    <result column="shenfenzheng" jdbcType="VARCHAR" property="shenfenzheng" />    <result column="xuehao" jdbcType="VARCHAR" property="xuehao" />    <result column="xueshengxingming" jdbcType="VARCHAR" property="xueshengxingming" />    <result column="xueshengguanxi" jdbcType="VARCHAR" property="xueshengguanxi" />    <result column="quxiaoyuanyin" jdbcType="VARCHAR" property="quxiaoyuanyin" />    <result column="issh" jdbcType="VARCHAR" property="issh" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, yonghuming,xingbie,dianhua,shenfenzheng,xuehao,xueshengxingming,xueshengguanxi,quxiaoyuanyin,issh, addtime
  </sql>
  <select id="quchongQuxiaoguanxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from quxiaoguanxi 
    where yonghuming = #{yonghuming,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from quxiaoguanxi  where 1=1
    <if test="yonghuming!=null">and yonghuming like  concat('%',#{yonghuming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="dianhua!=null">and dianhua like  concat('%',#{dianhua,jdbcType=VARCHAR},'%')</if>     <if test="shenfenzheng!=null">and shenfenzheng like  concat('%',#{shenfenzheng,jdbcType=VARCHAR},'%')</if>     <if test="xuehao!=null">and xuehao like  concat('%',#{xuehao,jdbcType=VARCHAR},'%')</if>     <if test="xueshengxingming!=null">and xueshengxingming like  concat('%',#{xueshengxingming,jdbcType=VARCHAR},'%')</if>     <if test="xueshengguanxi!=null">and xueshengguanxi like  concat('%',#{xueshengguanxi,jdbcType=VARCHAR},'%')</if>     <if test="quxiaoyuanyin!=null">and quxiaoyuanyin like  concat('%',#{quxiaoyuanyin,jdbcType=VARCHAR},'%')</if>     <if test="issh!=null">and issh like  concat('%',#{issh,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from quxiaoguanxi  where 1=1
    <if test="yonghuming!=null">
    and yonghuming =#{yonghuming}
    </if>
  </select>
  
  <select id="getsyquxiaoguanxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from quxiaoguanxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyquxiaoguanxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from quxiaoguanxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyquxiaoguanxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from quxiaoguanxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from quxiaoguanxi where 1=1 
     <if test="yonghuming!=null">and yonghuming like  concat('%',#{yonghuming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="dianhua!=null">and dianhua like  concat('%',#{dianhua,jdbcType=VARCHAR},'%')</if>     <if test="shenfenzheng!=null">and shenfenzheng like  concat('%',#{shenfenzheng,jdbcType=VARCHAR},'%')</if>     <if test="xuehao!=null">and xuehao like  concat('%',#{xuehao,jdbcType=VARCHAR},'%')</if>     <if test="xueshengxingming!=null">and xueshengxingming like  concat('%',#{xueshengxingming,jdbcType=VARCHAR},'%')</if>     <if test="xueshengguanxi!=null">and xueshengguanxi like  concat('%',#{xueshengguanxi,jdbcType=VARCHAR},'%')</if>     <if test="quxiaoyuanyin!=null">and quxiaoyuanyin like  concat('%',#{quxiaoyuanyin,jdbcType=VARCHAR},'%')</if>     <if test="issh!=null">and issh like  concat('%',#{issh,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from quxiaoguanxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from quxiaoguanxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Quxiaoguanxi">
    insert into quxiaoguanxi (id, yonghuming,xingbie,dianhua,shenfenzheng,xuehao,xueshengxingming,xueshengguanxi,quxiaoyuanyin, addtime)
    values (#{id,jdbcType=INTEGER}, #{yonghuming,jdbcType=VARCHAR},#{xingbie,jdbcType=VARCHAR},#{dianhua,jdbcType=VARCHAR},#{shenfenzheng,jdbcType=VARCHAR},#{xuehao,jdbcType=VARCHAR},#{xueshengxingming,jdbcType=VARCHAR},#{xueshengguanxi,jdbcType=VARCHAR},#{quxiaoyuanyin,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Quxiaoguanxi">
    insert into quxiaoguanxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="yonghuming != null"> yonghuming, </if>      <if test="xingbie != null"> xingbie, </if>      <if test="dianhua != null"> dianhua, </if>      <if test="shenfenzheng != null"> shenfenzheng, </if>      <if test="xuehao != null"> xuehao, </if>      <if test="xueshengxingming != null"> xueshengxingming, </if>      <if test="xueshengguanxi != null"> xueshengguanxi, </if>      <if test="quxiaoyuanyin != null"> quxiaoyuanyin, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yonghuming != null"> #{yonghuming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> #{xingbie,jdbcType=VARCHAR},</if>      <if test="dianhua != null"> #{dianhua,jdbcType=VARCHAR},</if>      <if test="shenfenzheng != null"> #{shenfenzheng,jdbcType=VARCHAR},</if>      <if test="xuehao != null"> #{xuehao,jdbcType=VARCHAR},</if>      <if test="xueshengxingming != null"> #{xueshengxingming,jdbcType=VARCHAR},</if>      <if test="xueshengguanxi != null"> #{xueshengguanxi,jdbcType=VARCHAR},</if>      <if test="quxiaoyuanyin != null"> #{quxiaoyuanyin,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Quxiaoguanxi">
    update quxiaoguanxi
    <set>
	  <if test="yonghuming != null"> yonghuming = #{yonghuming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> xingbie = #{xingbie,jdbcType=VARCHAR},</if>      <if test="dianhua != null"> dianhua = #{dianhua,jdbcType=VARCHAR},</if>      <if test="shenfenzheng != null"> shenfenzheng = #{shenfenzheng,jdbcType=VARCHAR},</if>      <if test="xuehao != null"> xuehao = #{xuehao,jdbcType=VARCHAR},</if>      <if test="xueshengxingming != null"> xueshengxingming = #{xueshengxingming,jdbcType=VARCHAR},</if>      <if test="xueshengguanxi != null"> xueshengguanxi = #{xueshengguanxi,jdbcType=VARCHAR},</if>      <if test="quxiaoyuanyin != null"> quxiaoyuanyin = #{quxiaoyuanyin,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Quxiaoguanxi">
    update quxiaoguanxi
    set yonghuming = #{yonghuming,jdbcType=VARCHAR},xingbie = #{xingbie,jdbcType=VARCHAR},dianhua = #{dianhua,jdbcType=VARCHAR},shenfenzheng = #{shenfenzheng,jdbcType=VARCHAR},xuehao = #{xuehao,jdbcType=VARCHAR},xueshengxingming = #{xueshengxingming,jdbcType=VARCHAR},xueshengguanxi = #{xueshengguanxi,jdbcType=VARCHAR},quxiaoyuanyin = #{quxiaoyuanyin,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
